SOCRATA_APP_TOKEN=
SOCRATA_DATASET_ID=erm2-nwe9

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET=nyc-311-equity-mart

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=NYC_311
SNOWFLAKE_ROLE=TRANSFORMER

CENSUS_API_KEY=

# Local Airflow (docker-compose)
AIRFLOW_UID=50000
